@{
}

<article>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-6">
                <form id="login-form" method="post" asp-action="ProcessLogin" data-toggle="validator">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single-form form-group">
                                <input type="text" name="nik" placeholder="Nik" data-error="Nik is required." required>
                                <div class="help-block with-errors"></div>
                            </div> <!-- single form -->
                        </div>
                        <div class="col-lg-12">
                            <div class="single-form form-group">
                                <input type="password" name="password" placeholder="Password" data-error="Password is required." required>
                                <div class="help-block with-errors"></div>
                            </div> <!-- single form -->
                        </div>
                        <p class="form-message"></p>
                        <div class="col-lg-12">
                            <div class="single-form form-group">
                                <button class="main-btn" type="submit">Login</button>
                            </div> <!-- single form -->
                        </div>
                    </div> <!-- row -->
                </form>
            </div>
        </div>
    </div>
</article>

@section Scripts
{
    <script>
    $('form#login-form').on('submit', function(e) {
      loading.fadeIn();
    })
    </script>
}
