@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Client</title>
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/favicon.ico" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="~/vendor/furnish/assets/css/bootstrap.min.css">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="~/vendor/furnish/assets/css/animate.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="~/vendor/furnish/assets/css/magnific-popup.css">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="~/vendor/furnish/assets/css/slick.css">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="~/vendor/furnish/assets/css/LineIcons.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="~/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="~/css/site.css">

    <!--====== Responsive css ======-->
    <link rel="stylesheet" href="~/css/responsive.css">
</head>
<body>

<!--====== PRELOADER PART START ======-->

<div class="preloader">
    <div class="spin">
        <div class="cube1"></div>
        <div class="cube2"></div>
    </div>
</div>

<!--====== PRELOADER PART START ======-->

<!--====== LOADING SPINNER START ======-->

<div class="loading" style="display: none;">
    <div class="spin">
        <div class="cube1"></div>
        <div class="cube2"></div>
    </div>
</div>

<!--====== LOADING SPINNER END ======-->


<!--====== HEADER PART START ======-->

<header class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="/">
                        <img src="assets/images/logo.png" alt="Logo">
                    </a> <!-- Logo -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="bar-icon"></span>
                        <span class="bar-icon"></span>
                        <span class="bar-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul id="nav" class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a data-scroll-nav="0" href="#home">Home</a>
                            </li>
                            @if (Context.User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a data-scroll-nav="1" asp-page="@Context.User.FindFirstValue(ClaimTypes.Role)/Dashboard">@Context.User.FindFirstValue(ClaimTypes.Role) Dashboard</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a data-scroll-nav="1" asp-page="Login">Login</a>
                                </li>
                            }
                        </ul> <!-- navbar nav -->
                    </div>
                </nav> <!-- navbar -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</header>

<!--====== HEADER PART ENDS ======-->

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="footer">
    <!--====== FOOTER PART START ======-->

    <section id="footer" class="footer-area">
        <div class="container">
            <div class="footer-widget pt-75 pb-120">
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-sm-7">
                        <div class="footer-logo mt-40">
                            <a href="#">
                                <img src="assets/images/logo.png" alt="Logo">
                            </a>
                            <p class="mt-10">Gravida nibh vel velit auctor aliquetn quibibendum auci elit cons equat ipsutis sem nibh id elit.</p>
                            <ul class="footer-social mt-25">
                                <li>
                                    <a href="#">
                                        <i class="lni-facebook-filled"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="lni-twitter-original"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="lni-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div> <!-- footer logo -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-5">
                        <div class="footer-link mt-50">
                            <h5 class="f-title">Services</h5>
                            <ul>
                                <li>
                                    <a href="#">Architechture Design</a>
                                </li>
                                <li>
                                    <a href="#">Interior Design</a>
                                </li>
                                <li>
                                    <a href="#">Autocad Services</a>
                                </li>
                                <li>
                                    <a href="#">Lighting Design</a>
                                </li>
                                <li>
                                    <a href="#">Poster Design</a>
                                </li>
                            </ul>
                        </div> <!-- footer link -->
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-5">
                        <div class="footer-link mt-50">
                            <h5 class="f-title">Help</h5>
                            <ul>
                                <li>
                                    <a href="#">Forum</a>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                </li>
                                <li>
                                    <a href="#">Help Center</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                            </ul>
                        </div> <!-- footer link -->
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-7">
                        <div class="footer-info mt-50">
                            <h5 class="f-title">Contact Info</h5>
                            <ul>
                                <li>
                                    <div class="single-footer-info mt-20">
                                        <span>Phone :</span>
                                        <div class="footer-info-content">
                                            <p>+88123 4567 890</p>
                                            <p>+88123 4567 890</p>
                                        </div>
                                    </div> <!-- single footer info -->
                                </li>
                                <li>
                                    <div class="single-footer-info mt-20">
                                        <span>Email :</span>
                                        <div class="footer-info-content">
                                            <p>contact@yourmail.com</p>
                                            <p>support@yourmail.com</p>
                                        </div>
                                    </div> <!-- single footer info -->
                                </li>
                                <li>
                                    <div class="single-footer-info mt-20">
                                        <span>Address :</span>
                                        <div class="footer-info-content">
                                            <p>5078 Jensen Key, Port Kaya, WV 73505</p>
                                        </div>
                                    </div> <!-- single footer info -->
                                </li>
                            </ul>
                        </div> <!-- footer link -->
                    </div>
                </div> <!-- row -->
            </div> <!-- footer widget -->
            <div class="footer-copyright pt-15 pb-15">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright text-center">
                            <p>Crafted by <a href="https://uideck.com" rel="nofollow">UIdeck</a></p>
                        </div> <!-- copyright -->
                    </div>
                </div> <!-- row -->
            </div> <!--  footer copyright -->
        </div> <!-- container -->
    </section>

    <!--====== FOOTER PART ENDS ======-->
</footer>

<!--====== jquery js ======-->
<script src="~/vendor/furnish/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="~/vendor/furnish/assets/js/vendor/jquery-1.12.4.min.js"></script>

<!--====== Bootstrap js ======-->
<script src="~/vendor/furnish/assets/js/bootstrap.min.js"></script>

<!--====== Popper js ======-->
<script src="~/vendor/furnish/assets/js/popper.js"></script>

<!--====== Slick js ======-->
<script src="~/vendor/furnish/assets/js/slick.min.js"></script>

<!--====== Magnific Popup js ======-->
<script src="~/vendor/furnish/assets/js/jquery.magnific-popup.min.js"></script>

<!--====== nav js ======-->
<script src="~/vendor/furnish/assets/js/jquery.nav.js"></script>

<!--====== Scroll It js ======-->
<script src="~/vendor/furnish/assets/js/scrollIt.min.js"></script>

<!--====== Main js ======-->
<script src="~/js/site.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>