@{
    Layout = "_Layout_Admin";
    ViewData["Title"] = "Dashboard";
}

<article>
    <div class="row">
        <div class="col stretch-card grid-margin">
            <div class="card bg-gradient-warning card-img-holder text-white">
                <div class="card-body">
                    <img src="~/vendor/purpleadmin/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
                    <h4 class="font-weight-normal mb-3">
                        Pending Request Found Item <i class="mdi mdi-clock  mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">5</h2>
                    <a href="#" class="link-dark">Review <i class="mdi mdi-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col stretch-card grid-margin">
            <div class="card bg-gradient-warning card-img-holder text-white">
                <div class="card-body">
                    <img src="~/vendor/purpleadmin/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
                    <h4 class="font-weight-normal mb-3">
                        Pending Request Claim Item <i class="mdi mdi-clock  mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">5</h2>
                    <a href="#" class="link-dark">Review <i class="mdi mdi-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</article>