@model IEnumerable<Client.Models.ClaimedItem>

@{
    Layout = "_Layout_Admin";
    ViewData["Title"] = "Claimed Items";
}

<article class="container">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-collage"></i>
            </span> Claimed Items
        </h3>
    </div>
    <section>
        <div class="row justify-content-end mb-4">
            <div class="col col-lg-4">
                <div class="form-group row g-0">
                    <label class="col-sm-3 col-form-label">Search</label>
                    <div class="col-sm-9">
                        <input type="text" onkeyup="filterCard()" class="form-control" name="cardFilterInput" id="cardFilterInput">
                    </div>
                </div>
            </div>
        </div>
        <div class="items_card_wrapper">
            <div class="row g-6 g-lg-4 row-cols-1 row-cols-lg-2">
                @if (Model is not null)
                {
                    @foreach (var i in Model)
                    {
                        <div class="col">
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-4" style="height: 225px">
                                        <img src="@i.ImagePath" class="card-img-top img-fluid rounded-start h-100" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">@i.Name</h5>
                                            <p class="card-text">@i.Description</p>
                                            <p class="text-muted card-description small">
                                                Claimed @@@i.ClaimedAt by @i.ClaimedBy.FullName
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>
</article>

@section Scripts
{
    <script>
      function filterCard() {
        const cardFilterInput = $('#cardFilterInput').val().toLocaleLowerCase()
        const cards = $('.items_card_wrapper > .row').find('.card')
        
        cards.each(function() {
          if ($(this).find('.card-title').text().toLowerCase().indexOf(cardFilterInput) > -1 || $(this).find('.card-text').text().toLowerCase().indexOf(cardFilterInput) > -1 || $(this).find('.card-description').text().toLowerCase().indexOf(cardFilterInput) > -1) {
            $(this).parent().removeClass('d-none')
          } else {
            $(this).parent().addClass('d-none')
          }
        })
      }
    </script>
}