@model IEnumerable<Client.Models.RequestFound>

@{
    Layout = "_Layout_Admin";
    ViewData["Title"] = "Request Found Items";
}

<!-- Modal -->
<div class="modal fade" id="base-modal" tabindex="-1" aria-labelledby="baseModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span></span> Request Found Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form-update_status" method="post" class="forms-sample" asp-controller="Admin" asp-action="">
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="message">Message</label>
                                <input type="text" class="form-control" id="message" name="message" placeholder="Ok">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="requestId" name="requestId" hidden>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<article class="container">
    <div class="row justify-content-end mb-4">
        <div class="col-3">
            <select id="select-status" class="form-select float-end" name="status">
                <option value=""></option>
                <option value="pending">Pending</option>
                <option value="rejected">Rejected</option>
                <option value="approved">Approved</option>
            </select>
        </div>
    </div>
    <div class="row g-6 g-lg-4 row-cols-1 row-cols-md-3 row-cols-lg-4">
        @foreach (var i in Model)
        {
            <div class="col">
                <div class="card" style="height: 300px">
                    <img class="card-img-top h-100" src="@i.RequestItem.ImagePath" alt="">
                    <div class="card-body position-relative">
                        @if (i.Status.Equals("Pending"))
                        {
                            <div class="request-action-wrapper">
                                <button onclick="showModal(`Approve`, `@i.RequestId`)" data-bs-toggle="modal" data-bs-target="#base-modal" class="btn btn-success btn-rounded"><i class="mdi mdi-check"></i></button>
                                <button onclick="showModal(`Reject`, `@i.RequestId`)" data-bs-toggle="modal" data-bs-target="#base-modal" class="btn btn-danger btn-rounded"><i class="mdi mdi-close"></i></button>
                            </div>
                        }
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="card-subtitle text-truncate">@i.RequestItem.Name</p>
                            <i class="mdi mdi-information" tabindex="0" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover focus" data-bs-content="<small>Request By : @i.RequestBy.FullName</small> <small> @@@i.RequestAt</small>"></i>
                        </div>
                        <p class="text-truncate">@i.RequestItem.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>
</article>

@section Scripts
{
    <script>
    const queryStatus = new URLSearchParams(window.location.search).get('status');
    
    $("select#select-status option[value='"+queryStatus+"']").attr("selected", "selected")
    
    $('select#select-status').on('change', function (e) {
        var url = window.location.href.split('?')[0];
        
        if (this.value) {
            url += `?status=${this.value}`;
        }
        
        window.location = url;
    });
    
    function showModal(status, id) {
        $('form#form-update_status').attr('action', `RequestFound/${status}`)
        $('form#form-update_status input#requestId').val(id)
        $('#base-modal .modal-header .modal-title span').text(status)
    }
    </script>
}