@model IEnumerable<Client.Models.FoundItem>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Found Items";
}

<article class="container p-lg-5" style="margin-top: 2.5rem">
    <section id="found-items">
        <div class="row justify-content-end mb-4">
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-4 d-flex justify-content-center align-items-center">
                        <div>Filter :</div>
                    </div>
                    <div class="col-8">
                        <input type="text" onkeyup="filterCard()" class="form-control" name="cardFilterInput" id="cardFilterInput">
                    </div>
                </div>
            </div>
        </div>
        <div class="found_items_card_wrapper">
            <div class="row g-6 g-lg-4 row-cols-2">
                @if (Model is not null)
                {
                    @foreach (var i in Model)
                    {
                        <div class="col">
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-4" style="height: 225px">
                                        <img src="@i.ImagePath" class="card-img-top img-fluid rounded-start h-100" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body h-100 d-flex flex-column">
                                            <h5 class="card-title">@i.Name</h5>
                                            <p class="card-text">@i.Description</p>
                                            <p class="card-text">
                                                <small class="text-muted">Found @@@i.FoundAt by @i.FoundBy.FullName</small>
                                            </p>
                                            <a asp-controller="Auth" asp-action="Login" class="btn btn-primary align-self-end">Request Claim This Item</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>
</article>

@section Scripts
{
    <script>
      function filterCard() {
        const cardFilterInput = $('#cardFilterInput').val().toLocaleLowerCase()
        const cards = $('.found_items_card_wrapper > .row').find('.card')
        
        cards.each(function() {
          if ($(this).find('.card-title').text().toLowerCase().indexOf(cardFilterInput) > -1 || $(this).find('.card-text').text().toLowerCase().indexOf(cardFilterInput) > -1 || $(this).find('.card-description').text().toLowerCase().indexOf(cardFilterInput) > -1) {
            $(this).parent().removeClass('d-none')
          } else {
            $(this).parent().addClass('d-none')
          }
        })
      }
    </script>
}