article {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-navbar-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  1rem;
}