@page
@using System.Security.Claims
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<article>
    @if (HttpContext.User.Identity.IsAuthenticated)
    {
        <h1>Hello @HttpContext.User.FindFirstValue(ClaimTypes.Name)</h1>
    }
    else
    {
        <h1>Hello World</h1>
    }
</article>